.ui-growl-icon-close {
width: 100%;
height: 100%;
background-image: none!important;
}
.ui-growl {
    top:40%;
    left:15%;
    width: fit-content;
    min-width: 301px;
    z-index:9999!important;
}
.ui-growl-message {
    width: fit-content; 
    max-width: 400px;
    min-width: 200px;
    float: left;
    margin-left: 10px;
}

