.selectRadio table {
    table-layout: fixed;
    width: 100%;
}
.selectRadio td {
    float: left;
    word-wrap: break-word;
    white-space: nowrap;
}
.selectRadio td {
    float: left;
    word-wrap: break-word;
    white-space: nowrap;
}
.error-text {
    background: red!important;
}
            